.App {
    min-height: 100vh;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.div-search{
    text-align: -webkit-center;
}
.search-form{
    min-height: 20vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MuiFormControl-root.MuiTextField-root.MuiFormControl-fullWidth{
    background: white;
    border-radius: 5px;
}

.recipes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
